.DS_Store
/target/

# Java
*.class
application/**/*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
*.code-workspace
/.factorypath
/.apt_generated_tests/
application/*/.sts4-cache/classpath-data.json
kubernetes/monitoring/test/cypress/cypress/videos
kubernetes/monitoring/test/cypress/cypress/plugins
kubernetes/monitoring/test/cypress/cypress/support
kubernetes/monitoring/test/cypress/cypress/fixtures
