apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rabbitmq
spec:
  rules:
  - host: rabbitmq.management.minikube
    http:
      paths:
      - path:
        backend:
          serviceName: rabbitmq
          servicePort: 15672
