apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
spec:
  selector:
    matchLabels:
      app: kafka
  serviceName: kafka
  replicas: 1
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        tier: backend
        component: cache
        app: kafka
    spec:
      containers:
        - name: kafka
          image: bitnami/kafka:3-debian-10
          imagePullPolicy: Always
          ports:
            - containerPort: 9092
          env:
            - name: ALLOW_PLAINTEXT_LISTENER
              value: "yes"
            - name: KAFKA_CFG_ZOOKEEPER_CONNECT
              value: "zookeeper:2181"
          livenessProbe:
            tcpSocket:
              port: 9092
          readinessProbe:
            tcpSocket:
              port: 9092
