apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-hazelcast-quarkus
spec:
  selector:
    matchLabels:
      app: consumer-hazelcast-quarkus
  replicas: 1
  template:
    metadata:
      labels:
        app: consumer-hazelcast-quarkus
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: consumer-hazelcast-quarkus
          image: yurak/consumer-hazelcast-quarkus:v0.4.1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              port: 8080
              path: /health/live
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 5
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              port: 8080
              path: /health/ready
            initialDelaySeconds: 10
            periodSeconds: 30
