table{
   border-collapse: collapse;
   border-spacing: 0;
   table-layout: fixed;
   width: 490px;
 }
 
 table tr:last-child{
   border-bottom:solid 1px #ddd;
 }
 
 table th{
   text-align: center;
   padding: 7px 0;
   border-right:solid 1px #ddd;
   border-left:solid 1px #ddd;
   width: 155px;
 }
 
 table th:nth-child(1){
   background-color:#dddddd;
 }
 
 table th:nth-child(3){
   background-color:#f5b932;
   color: white;
 }
 
 table tr:nth-child(2) td{
   font-size: 30px;
 }
 
 table td{
   text-align: center;
   padding: 7px 0;
   border-right:solid 1px #ddd;
   border-left:solid 1px #ddd;
   width: 155px;
 }
 
 table td a{
   background-color: #25b327;
   color: white;
   padding:5px 20px;
   border-radius: 30px;
   font-weight: bold;
 }
 
 table .popular{
   width: 180px;
 }
 
 table th.popular{
   position: relative;
 }
 
 table th.popular span.no1{
   position: absolute;
   top: -10px;
   left:calc(50% - 30px);
   background: #bdcc28;
   width: 60px;
   font-size: 10px;
   border-radius: 15px;
   line-height: 1;
   padding: 5px;
 }
 
 table th.popular span.inner{
   position: absolute;
   color:white;
   background-color: #f34955;
   left: 0;
   bottom: 0;
   display: block;
   width: 180px;
   padding: 10px 0;
 }
 