table{
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
}

table tr{
  border-bottom: solid 1px gainsboro;
  cursor: pointer;
}

table tr:hover{
  background-color: bisque;
}

table th,table td{
  text-align: center;
  width: 13%;
  padding: 4px 0;
}

.responsive {
  width: 100%;
  height: auto;
}
textarea {
	color: crimson;
}
