apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-master
spec:
  selector:
    matchLabels:
      app: redis
  replicas: 1
  template:
    metadata:
      labels:
        tier: backend
        component: cache
        app: redis
        role: master
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9121"
    spec:
      containers:
        - name: redis-master
          image: redis:7.0.6
          ports:
            - containerPort: 6379
          livenessProbe:
            tcpSocket:
              port: 6379
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
        - name: redis-exporter
          image: oliver006/redis_exporter:v1.45.0-alpine
          ports:
            - containerPort: 9121
          livenessProbe:
            tcpSocket:
              port: 9121
          readinessProbe:
            tcpSocket:
              port: 9121
