<server description="new server">
  <featureManager>
    <feature>webProfile-8.0</feature>
    <feature>localConnector-1.0</feature>
    <feature>monitor-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>jms-2.0</feature>
    <feature>microProfile-3.2</feature>
    <feature>mpMetrics-2.2</feature>
    <feature>mpOpenTracing-1.3</feature>
    <feature>usr:opentracingZipkin-0.31</feature>
  </featureManager>

  <mpMetrics authentication="false" />
  <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
  <applicationManager autoExpand="true" />
  <applicationMonitor updateTrigger="mbean" />
  
  <dataSource jndiName="jdbc/mysql" transactional="false">
		<jdbcDriver libraryRef="mysqllib" />
		<properties databaseName="webapp" user="webapp" password="webapp" portNumber="3306" serverName="mysql" allowPublicKeyRetrieval="true" useSSL="false" />
	</dataSource>
	<library id="mysqllib">
		<fileset dir="${server.config.dir}/resources/mysql" includes="*.jar" />
	</library>

	<dataSource jndiName="jdbc/postgres" transactional="false">
		<jdbcDriver libraryRef="postgreslib" />
		<properties databaseName="webapp" user="webapp" password="webapp" portNumber="5432" serverName="postgres" />
	</dataSource>
	<library id="postgreslib">
		<fileset dir="${server.config.dir}/resources/postgres" includes="*.jar" />
	</library>

  <resourceAdapter id="activemq" location="${server.config.dir}/resources/activemq/activemq-rar-5.15.11.rar">
    <properties.activemq userName="artemis" password="simetraehcapa" serverUrl="tcp://activemq:61616" />
  </resourceAdapter>
  <jmsActivationSpec id="sample/SampleJMS">
    <properties.activemq destinationRef="ActiveMQueue" destinationType="javax.jms.Queue" />
    <properties.activemq destinationRef="ActiveMQTopic" destinationType="javax.jms.Queue" />
  </jmsActivationSpec>
  <jmsQueueConnectionFactory jndiName="jms/QueueConnectionFactory">
    <properties.activemq serverUrl="tcp://activemq:61616" />
  </jmsQueueConnectionFactory>
  <jmsQueue id="ActiveMQueue" jndiName="jms/ActiveMQueue">
    <properties.activemq PhysicalName="ActiveMQueue" />
  </jmsQueue>
  <jmsTopic id="ActiveMQTopic" jndiName="jms/ActiveMQTopic">
    <properties.activemq PhysicalName="ActiveMQTopic" />
  </jmsTopic>

  <opentracingZipkin />
</server>
