<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>SetCacheServlet</servlet-name>
        <servlet-class>servlet.SetCache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCacheServlet</servlet-name>
        <servlet-class>servlet.GetCache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutMQServlet</servlet-name>
        <servlet-class>servlet.PutMq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMQServlet</servlet-name>
        <servlet-class>servlet.GetMq</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetCacheServlet</servlet-name>
        <url-pattern>/SetCache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCacheServlet</servlet-name>
        <url-pattern>/GetCache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutMQServlet</servlet-name>
        <url-pattern>/PutMQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMQServlet</servlet-name>
        <url-pattern>/GetMQ</url-pattern>
    </servlet-mapping>

</web-app>
