name: Minikube Security CI

on:
  push:
    branches:
      - master
    paths:
      - "application/**"
      - "kubernetes/**"
      - ".github/workflows/minikube-security-ci.yml"

jobs:
  security-ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup minikube
        uses: manusa/actions-setup-minikube@v2.3.0
        with:
          minikube-version: v1.16.0
          k8s-version: v1.20.1
          driver: docker
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: minikube settings
        run: |
          sudo apt install conntrack
          minikube config set vm-driver docker
          minikube config set cpus 2
          minikube config set memory 6144
          minikube start
          minikube update-context
          minikube addons enable ingress
          minikube addons list
          # https://minikube.sigs.k8s.io/docs/drivers/docker/#troubleshooting
          sudo ln -s /etc/apparmor.d/usr.sbin.mysqld /etc/apparmor.d/disable/
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: wait for set up ingress
        run: |
          kubectl wait --all-namespaces=true --for=condition=ready pod --selector=app.kubernetes.io/component=controller --timeout=10m
      - name: add hosts
        run: echo `minikube ip` k8s.3tier.webapp | sudo tee -a /etc/hosts
      - name: apply minimal service
        run: |
          kubectl apply -f kubernetes/nginx/nginx-ingress.yaml
          kubectl apply -f kubernetes/nginx/nginx-deployment.yaml
          kubectl apply -f kubernetes/nginx/nginx-service.yaml
          sleep 10
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: "http://k8s.3tier.webapp/"
      - name: check minikube status
        if: always()
        run: |
          kubectl get po --all-namespaces=true
          kubectl get nodes
          kubectl get pv
          kubectl get pvc
          kubectl get all
          kubectl get all -n monitoring
          kubectl get ingress
          df -h /
