name: Shell Validator

on:
  push:
    branches:
      - master
    paths:
      - "**.sh"
  pull_request:
    paths:
      - "**.sh"

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@1.1.0
      - name: Run sh-checker
        uses: luizm/action-sh-checker@v0.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          sh_checker_comment: true
          sh_checker_shfmt_disable: true
          sh_checker_exclude: "mvnw$"
