name: Yaml Validator

on: [push, pull_request]

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Run Kubernetes tools
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.18.0
          kustomize: 3.4.0
          helm: 2.16.5
          helmv3: 3.1.2
          command: |
            echo "Run kubeval"
            kustomize build test/kustomize | \
            for FILE in `find . -name "*.yaml"`; do \
            kubeval --strict ${FILE} \
            done 
